@font-face {
    font-family: "GardenBrain";
    src: url(http://localhost/font.ttf) format("truetype");
}
@media screen and (min-width: 1000px) and (max-width: 1100px) and (orientation: landscape) {
/* This is the CSS for the Raspberry Pi's 7" touchscreen dashboard */
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  	background-color: #2e2f31;
  	color: #ffffff;
  	}
	.tempgraph {
      position: absolute; 
	  top: 178; 
	  left: 5;
	  align: left;
	}
	.humgraph {
      position: absolute; 
	  top: 417; 
	  left: 282;
	  align: left;
	}
	.pressgraph {
      position: absolute; 
	  top: 310; 
	  left: 269;
	  align: left;
	}
	.uptime {
      position: absolute; 
	  top: 0; 
	  left: 10;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.clock {
      position: absolute; 
	  top: 0; 
	  left: 235;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.bigtemp {
      position: absolute; 
	  top: 55; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:6.5em;
	  color: #76c83f;
	}
	.tempicon {
      position: absolute; 
	  top: 15; 
	  left: 340;
	}
	.pressdata {
      position: absolute; 
	  top: 330; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.humdata {
      position: absolute; 
	  top: 440; 
	  left: 90;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.nightirrigation {
      position: absolute; 
	  top: 657; 
	  left: 118;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.dayirrigation {
      position: absolute; 
	  top: 657; 
	  left: 385;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.tapbutton {
      position: absolute; 
	  top: 730; 
	  left: 208;
	}
	.rebootbutton {
      position: absolute; 
	  top: 934; 
	  left: 526;
	}
}
@media screen and (min-width: 1100px) and (max-width: 5000px) and (orientation: landscape) {
/* This is the CSS for the general desktop layout dashboard */
  html {
    width: 100vh;
    position: fixed;
    top: -70px;
    left: 50%;
  	background-color: #2e2f31;
  	color: #ffffff;
	margin-left: -300px;
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  	}
	.tempgraph {
      position: absolute; 
	  top: 178; 
	  left: 5;
	  align: left;
	}
	.humgraph {
      position: absolute; 
	  top: 416; 
	  left: 282;
	  align: left;
	}
	.pressgraph {
      position: absolute; 
	  top: 310; 
	  left: 269;
	  align: left;
	}
	.uptime {
      position: absolute; 
	  top: 0; 
	  left: 10;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.clock {
      position: absolute; 
	  top: 0; 
	  left: 235;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.bigtemp {
      position: absolute; 
	  top: 60; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:6.5em;
	  color: #76c83f;
	}
	.tempicon {
      position: absolute; 
	  top: 15; 
	  left: 340;
	}
	.pressdata {
      position: absolute; 
	  top: 335; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.humdata {
      position: absolute; 
	  top: 442; 
	  left: 90;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.nightirrigation {
      position: absolute; 
	  top: 660; 
	  left: 118;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.dayirrigation {
      position: absolute; 
	  top: 660; 
	  left: 385;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.tapbutton {
      position: absolute; 
	  top: 730; 
	  left: 208;
	}
	.rebootbutton {
      position: absolute; 
	  top: 934; 
	  left: 526;
	}
}
@media screen and (min-width: 300px) and (max-width: 1000px) and (orientation: portrait) {
/* This is the CSS for the mobile layout dashboard */ 
  html {
    width: 100vh;
    position: fixed;
    top: 450;
    left: 50%;
  	background-color: #2e2f31;
  	color: #ffffff;
	margin-left: 0;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  	}
	.tempgraph {
      position: absolute; 
	  top: 178; 
	  left: 5;
	  align: left;
	}
	.humgraph {
      position: absolute; 
	  top: 416; 
	  left: 282;
	  align: left;
	}
	.pressgraph {
      position: absolute; 
	  top: 310; 
	  left: 269;
	  align: left;
	}
	.uptime {
      position: absolute; 
	  top: 0; 
	  left: 10;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.clock {
      position: absolute; 
	  top: 0; 
	  left: 235;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.bigtemp {
      position: absolute; 
	  top: 60; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:6.5em;
	  color: #76c83f;
	}
	.tempicon {
      position: absolute; 
	  top: 15; 
	  left: 340;
	}
	.pressdata {
      position: absolute; 
	  top: 335; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.humdata {
      position: absolute; 
	  top: 445; 
	  left: 90;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.nightirrigation {
      position: absolute; 
	  top: 660; 
	  left: 118;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.dayirrigation {
      position: absolute; 
	  top: 660; 
	  left: 385;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.tapbutton {
      position: absolute; 
	  top: 730; 
	  left: 208;
	}
	.rebootbutton {
      position: absolute; 
	  top: 934; 
	  left: 526;
	}
}
.main {
  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:1.2em;
  color:#ffffff;
}
body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-color: #2e2f31;
  color: #ffffff;
}
table {
  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:0.7em;
  color: #ffffff;
}
sup {
  font-size:0.5em;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
}
