@font-face {
    font-family: "GardenBrain";
    src: url(http://localhost/font.ttf) format("truetype");
}
@media screen and (min-width: 1000px) and (max-width: 1100px) and (orientation: landscape) {
/* This is the CSS for the Raspberry Pi's 7" touchscreen dashboard */
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  	background-color: #2e2f31;
  	color: #ffffff;
  	}
	.tempgraph {
      position: absolute; 
	  top: 178; 
	  left: 5;
	  align: left;
	}
	.humgraph {
      position: absolute; 
	  top: 417; 
	  left: 282;
	  align: left;
	}
	.pressgraph {
      position: absolute; 
	  top: 310; 
	  left: 269;
	  align: left;
	}
	.uptime {
      position: absolute; 
	  top: 0; 
	  left: 10;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.clock {
      position: absolute; 
	  top: 0; 
	  left: 235;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.bigtemp {
      position: absolute; 
	  top: 55; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:6.5em;
	  color: #76c83f;
	}
	.tempicon {
      position: absolute; 
	  top: 15; 
	  left: 340;
	}
	.pressdata {
      position: absolute; 
	  top: 330; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.humdata {
      position: absolute; 
	  top: 440; 
	  left: 90;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.nightirrigation {
      position: absolute; 
	  top: 657; 
	  left: 118;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.dayirrigation {
      position: absolute; 
	  top: 657; 
	  left: 385;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.tapbutton {
      position: absolute; 
	  top: 730; 
	  left: 208;
	}
	.rebootbutton {
      position: absolute; 
	  top: 934; 
	  left: 526;
	}
	.weekdaystemp {
      position: absolute; 
	  top: 276; 
	  left: 40;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:0.8em;
	  color: #bebcbc;
	  text-align: justify;
	  width: 590;
	}
	.weekdayspress {
      position: absolute; 
	  top: 387; 
	  left: 315;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:0.8em;
	  color: #bebcbc;
	  text-align: justify;
	  width: 322;
	}
	.weekdayshum {
      position: absolute; 
	  top: 495; 
	  left: 314;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:0.8em;
	  color: #bebcbc;
	  text-align: justify;
	  width: 310;
	}
	.logoicon {
      position: absolute; 
	  top: 939; 
	  left: 12;
	}
	.pressureicon {
      position: absolute; 
	  top: 336; 
	  left: 32;
	}
	.humidityicon {
      position: absolute; 
	  top: 437; 
	  left: 31;
	}
	.nightimage {
      position: absolute; 
	  top: 563; 
	  left: 75;
	}
	.dayimage {
      position: absolute; 
	  top: 563; 
	  left: 375;
	}
}
@media screen and (min-width: 1100px) and (max-width: 5000px) and (orientation: landscape) {
/* This is the CSS for the general desktop layout dashboard */
  html {
    width: 100vh;
    position: fixed;
    top: -70px;
    left: 50%;
  	background-color: #2e2f31;
  	color: #ffffff;
	margin-left: -300px;
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  	}
	.tempgraph {
      position: absolute; 
	  top: 178; 
	  left: 5;
	  align: left;
	}
	.humgraph {
      position: absolute; 
	  top: 416; 
	  left: 282;
	  align: left;
	}
	.pressgraph {
      position: absolute; 
	  top: 310; 
	  left: 269;
	  align: left;
	}
	.uptime {
      position: absolute; 
	  top: 0; 
	  left: 10;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.clock {
      position: absolute; 
	  top: 0; 
	  left: 235;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.bigtemp {
      position: absolute; 
	  top: 60; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:6.5em;
	  color: #76c83f;
	}
	.tempicon {
      position: absolute; 
	  top: 15; 
	  left: 340;
	}
	.pressdata {
      position: absolute; 
	  top: 335; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.humdata {
      position: absolute; 
	  top: 442; 
	  left: 90;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.nightirrigation {
      position: absolute; 
	  top: 660; 
	  left: 118;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.dayirrigation {
      position: absolute; 
	  top: 660; 
	  left: 385;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.tapbutton {
      position: absolute; 
	  top: 730; 
	  left: 208;
	}
	.rebootbutton {
      position: absolute; 
	  top: 934; 
	  left: 526;
	}
	.weekdaystemp {
      position: absolute; 
	  top: 278; 
	  left: 60;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:0.8em;
	  color: #bebcbc;
	  text-align: justify;
	  width: 590;
	}
	.weekdayspress {
      position: absolute; 
	  top: 390; 
	  left: 325;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:0.8em;
	  color: #bebcbc;
	  text-align: justify;
	  width: 322;
	}
	.weekdayshum {
      position: absolute; 
	  top: 496; 
	  left: 324;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:0.8em;
	  color: #bebcbc;
	  text-align: justify;
	  width: 310;
	}
	.logoicon {
      position: absolute; 
	  top: 939; 
	  left: 12;
	}
	.pressureicon {
      position: absolute; 
	  top: 336; 
	  left: 32;
	}
	.humidityicon {
      position: absolute; 
	  top: 437; 
	  left: 31;
	}
	.nightimage {
      position: absolute; 
	  top: 563; 
	  left: 75;
	}
	.dayimage {
      position: absolute; 
	  top: 563; 
	  left: 375;
	}
}
@media screen and (min-width: 300px) and (max-width: 1000px) and (orientation: portrait) {
/* This is the CSS for the mobile layout dashboard */ 
  html {
    width: 100vh;
    position: fixed;
    top: -170;
    left: -135;
  	background-color: #2e2f31;
  	color: #ffffff;
	margin-left: 0;
    -moz-transform: scale(0.65);
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
  	}
	.tempgraph {
      position: absolute; 
	  top: 178; 
	  left: 5;
	  align: left;
	}
	.humgraph {
      position: absolute; 
	  top: 416; 
	  left: 282;
	  align: left;
	}
	.pressgraph {
      position: absolute; 
	  top: 310; 
	  left: 269;
	  align: left;
	}
	.uptime {
      position: absolute; 
	  top: 0; 
	  left: 10;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.clock {
      position: absolute; 
	  top: 0; 
	  left: 235;
	  align: left;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:1em;
	  color:#bebcbc;
	}
	.bigtemp {
      position: absolute; 
	  top: 60; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:6.5em;
	  color: #76c83f;
	}
	.tempicon {
      position: absolute; 
	  top: 15; 
	  left: 340;
	}
	.pressdata {
      position: absolute; 
	  top: 335; 
	  left: 85;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.humdata {
      position: absolute; 
	  top: 445; 
	  left: 90;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2.5em;
	  color: #bebcbc;
	}
	.nightirrigation {
      position: absolute; 
	  top: 660; 
	  left: 118;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.dayirrigation {
      position: absolute; 
	  top: 660; 
	  left: 385;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:2em;
	  color: #bebcbc;
	}
	.tapbutton {
      position: absolute; 
	  top: 730; 
	  left: 208;
	}
	.rebootbutton {
      position: absolute; 
	  top: 1034; 
	  left: 526;
	}
	.weekdaystemp {
      position: absolute; 
	  top: 278; 
	  left: 75;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:0.8em;
	  color: #bebcbc;
	  text-align: justify;
	  width: 590;
	}
	.weekdayspress {
      position: absolute; 
	  top: 391; 
	  left: 330;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:0.8em;
	  color: #bebcbc;
	  text-align: justify;
	  width: 322;
	}
	.weekdayshum {
      position: absolute; 
	  top: 496; 
	  left: 329;
	  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
	  font-size:0.8em;
	  color: #bebcbc;
	  text-align: justify;
	  width: 310;
	}
	.logoicon {
      position: absolute; 
	  top: 1039; 
	  left: 12;
	}
	.pressureicon {
      position: absolute; 
	  top: 336; 
	  left: 32;
	}
	.humidityicon {
      position: absolute; 
	  top: 437; 
	  left: 31;
	}
	.nightimage {
      position: absolute; 
	  top: 563; 
	  left: 75;
	}
	.dayimage {
      position: absolute; 
	  top: 563; 
	  left: 375;
	}
}
.main {
  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:1.2em;
  color:#ffffff;
}
body {
  background-color: #2e2f31;
  color: #ffffff;
}
table {
  font-family: GardenBrain, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:0.7em;
  color: #ffffff;
}
sup {
  font-size:0.5em;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
}
